html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: "Open Sans",sans-serif;
  display: grid;
  grid-template-columns: 55% 45%;
}

#logo {
  width: 100%
}

#submit-button {
  background: #41afe7;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  font-size: 22px;
  color: white;
  border: none;
}

#image-file {
  font-size: 15px
}

#image-file::-webkit-file-upload-button {
  background: #41afe7;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  font-size: 22px;
  color: white;
  border: none;
}

#right-side {
  background: #41afe7;
  color: white;
  font-weight: 100;
  display: grid;
  grid-template-rows: 56% 44%;
}

#couple-pic {
  width: 100%;
}
/* 141F2A */

/* #drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
} */