html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: "Open Sans",sans-serif;
  display: grid;
  grid-template-columns: 55% 45%;
}

#left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 40px;
}

#first-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 500px;
}

#form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px 0 0 0;
}

#second-form {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#family {
  width: 20%;
}

.text-input {
  margin: 30px 0;
  height: 45px;
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 80%;
  font-size: 25px;
  padding: 5px;
}

.text-input::placeholder {
  font-size: 19px;
  color: #cccccc;
  font-weight: 400;
}

.text-input:focus {
  outline: none;
}

.button {
  background: #41afe7;
  width: 72%;
  height: 55px;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  border: none;
  margin: 21px 0;
}

#file {
  background: #151F2A;
  width: 80%;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  color:white;
  padding: 10px;
  margin: 20px 0 0 0;
  text-align: end;
}

#image-file {
  font-size: 15px;
}

.button::-webkit-file-upload-button {
  background: #41afe7;
  width: 50%;
  height: 50px;
  font-size: 18px;
  color: white;
  border-radius: 25px;
  border: none;
  margin-right: 50px;
}

#right-side {
  background: #41afe7;
  color: white;
  font-weight: 100;
  display: grid;
  grid-template-rows: 56% 44%;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  margin: 80px 0;
  display: flex;
  align-items: center;
}

.description-image {
  width: 50px;
  margin: 0 15px 0 0;
}

.swipe {
  width: 35px;
}

.heart {
  width: 40px;
}

#couple-pic {
  width: 100%;
}


/* #drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
} */