<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style/matches.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>
      Matches
    </title>
  </head>
  <body>
    <!-- logo, message, logout -->

    <div class='main'>  
      <nav id='nav'> 
        <img id='logo', src="static/images/logo.png">
        <p id='header'>
          Begin your search today, winston van
        </p>
      </nav>
      <div class='top'>
        <!-- 3 parts, 2 pictures, one for metrics -->

        <div class="display-box">
          <div class='frame'>
          <!-- Anna should be swapped to the data piped in -->
            <img class='picture', src="">
          </div>
          <p>
            Your Photo
          </p>
        </div>

        <div class="display-box">
          <div class='frame'>
            <img id="match-photo" class='picture' src="static/images/Anna2.jpeg">
          </div>
          <p id="match-name">
          </p>
        </div>

        <div id="metric">
          <div id="current-state">
            
          </div>
          <div id="start-stop-buttons">
            <button onclick="findMatches()">Start</button>
            <button onclick="stopFind()">Stop</button>
          </div>
          <p></p>
        </div>

      </div>


      <div id="bottom">
        <p>
          Name:
        </p>
        <p>
          Age:
        </p>
        <p>
          Gender:
        </p>
        <p>
          Bio:
        </p>
      </div>
    </div>
    <script>
      var user = '{{ token }}'
      var interval;
      function findMatches() {
        console.log("fetching api")
        $.get(`/api/match?token=${user}`)
        .then((res) => {
          console.log(res)
          $(document).ready(function() {
            $('#match-photo').attr("src", res.pic);
            $('#match-name').text(res.name);
            const info = $('#bottom').children()
            info.eq(0).text(`Name: ${res.name}`);
            info.eq(1).text(`Age: ${res.age}`);
            info.eq(2).text(`Gender: ${res.gender}`);
            info.eq(3).text(`Bio: ${res.bio}`);
            $('#metric').children().eq(2).text(`LIKED?: ${res.liked}`)
            })
          })
        }

        // interval = setInterval(async () => {
        //   await $.get(`/api/match?token=${user}`, (data, status) => print(data))
        //   // .then((res) => console.log(res))
        //   // .then(function (res) {

        //   //   $(document).ready(function() {
        //   //     $('#match-photo').attr("src", !PIC!);
        //   //     $('#match-name').text(!TEXT!);

        //   //     $('#bottom').children()


        //   //   })
        //   // })
        // }, 100);
      // }

      function stopFind() {
        clearInterval(interval);
      }
    </script>
  </body>
</html>