<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style/matches.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>
      Matches
    </title>
  </head>
  <body>
    <!-- logo, message, logout -->

    <div class='main'>  
      <nav id='nav'> 
        <img id='logo', src="static/images/logo.png">
        <p id='header'>
          Begin your search today
        </p>
      </nav>
      <div class='top'>
        <!-- 3 parts, 2 pictures, one for metrics -->

        <div class="display-box">
          <div class='frame'>
          <!-- Anna should be swapped to the data piped in -->
            <img class='picture', src="">
          </div>
          <p>
            Your Photo
          </p>
        </div>

        <div class="display-box">
          <div class='frame'>
            <img id="match-photo" class='picture' src="../static/images/placeholder.png">
          </div>
          <p id="match-name">
          </p>
        </div>

        <div id="metric">
          <div id="current-state">
            <div id="matched-box"></div>
          </div>
          <div id="start-stop-buttons">
            <button class="control-button" onclick="findMatches()">Start</button>
            <div id="loading"></div>
            <button class="control-button" onclick="stopFind()">Stop</button>
          </div>
          <p id="like-result"></p>
        </div>

      </div>


      <div id="bottom">
        <p>
          Name:
        </p>
        <p>
          Age:
        </p>
        <p>
          Gender:
        </p>
        <p>
          Bio:
        </p>
      </div>
    </div>
    <script>
      var user = '{{ token }}'
      var interval;
      var ready = true;
      function findMatches() {
        $('#loading').addClass("loader")
        $('#current-state').css("background-image", "../static/images/start-placeholder.png")
        if (!interval)
          interval = setInterval(async () => {
            if(ready == true) {
              ready = false;
              console.log("fetching api")
              $.get(`/api/match?token=${user}`)
              .then((res) => {
                console.log(res)
                $(document).ready(function() {
                  $('#match-photo').attr("src", res.pic);
                  $('#match-name').text(res.name);
                  const info = $('#bottom').children()
                  info.eq(0).text(`Name: ${res.name}`);
                  info.eq(1).text(`Age: ${res.age}`);
                  info.eq(2).text(`Gender: ${res.gender}`);
                  info.eq(3).text(`Bio: ${res.bio}`);
                  $("#matched-box").addClass('found-match-result')
                  $("#current-state").css("background-image", "none");
                  $("#current-state").css("flex-grow", "0.7");
                  $("#current-state").append(`${(res.matched_percent * 100).toFixed(0)}% <br> Similiar`)
                  ready = true;

                  if (res.matched) {
                    $("#matched-box").text('Matched')
                  } else {
                    $("#matched-box").text('Not Matched')
                    $("#matched-box").css('background', 'red')
                  }

                  if (res.liked) {
                    $('#metric').children().eq(2).text(`${res.name} was liked`)
                  } else {
                    $('#metric').children().eq(2).text(`${res.name} was not liked`)
                  }


              })})
            } else {
              console.log("Server not ready, waiting another 100ms");
            }
          }, 100);
      }

      function stopFind() {
        $('#loading').removeClass("loader")
        clearInterval(interval);
        interval = null;
      }
    </script>
  </body>
</html>