<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style/matches.css">

    <title>
      Matches
    </title>
  </head>
  <body>
    <!-- logo, message, logout -->

    <div class='main'>  
      <nav id='nav'> 
        <img id='logo', src="static/images/logo.png">
        <p id='header'>
          Begin your search today, winston van
        </p>
      </nav>
      <div class='top'>
        <!-- 3 parts, 2 pictures, one for metrics -->

        <div class="display-box">
          <div class='frame'>
          <!-- Anna should be swapped to the data piped in -->
            <img class='picture', src="static/images/Anna1.jpeg">
          </div>
          <p>
            Your Photo
          </p>
        </div>

        <div class="display-box">
          <div class='frame'>
            <img class='picture', src="static/images/Anna2.jpeg">
          </div>
          <p>
            Anna2.jpeg
          </p>
        </div>

        <div class='metric'>
        </div>

      </div>


      <div class='bottom'>
        <p>
          Name:
        </p>
        <p>
          Age:
        </p>
        <p>
          Gender:
        </p>
        <p>
          Bio:
        </p>
      </div>
    </div>

  </body>
</html>