<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style/styles.css" width='400px'>
  </head>
  <body>
    <img src="../static/images/logo.png" alt="Smiley face">
    <h1>Hi dom and winston, find your matches here</h1>
    <div id="drop-area">
      <form class="my-form">
        <p>Upload the best photo of your sibling!</p>
        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        <label class="button" for="fileElem">Select some files</label>
      </form>
    </div>
    <button>FIND BITCHES</button>
  </body>
</html>